@import "tailwindcss";

@font-face {
  font-family: "Zabal";
  src: url("/fonts/Zabal/ZabalDEMO-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zabal";
  src: url("/fonts/Zabal/ZabalDEMO-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Zabal";
  src: url("/fonts/Zabal/ZabalDEMO-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Zabal";
  src: url("/fonts/Zabal/ZabalDEMO-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Zabal";
  src: url("/fonts/Zabal/ZabalDEMO-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --zabal: "Zabal", sans-serif;
}

@theme {
  --color-blue: #21224b;
  --color-blank: #ffffff;
  --color-rouge: #d72529;
  --color-black: #000;
  --color-white-gris: #f4f4f5;
  --c: #e6e7e8;
  --color-silver: #bcbec0;
  --color-accent: #6276fb;
  --font-zabal: "Zabal", sans-serif;
}

body {
  background: var(--color-blue);
  color: var(--foreground);
  font-family: var(--zabal);
}

h1 {
  font-family: var(--zabal);
  font-size: 84px;
  line-height: 90px;
  font-weight: 900;
}

h2 {
  font-family: var(--zabal);
  font-size: 62px;
  line-height: 67.5px;
  font-weight: 900;
}

h3 {
  font-family: var(--zabal);
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}

h4 {
  font-family: var(--zabal);
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.08em;
}

p.large {
  font-family: var(--zabal);
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -0.01em;
}

p {
  font-family: var(--zabal);
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0em;
}

p.small {
  font-family: var(--zabal);
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  letter-spacing: 0.01em;
}

p.header {
  font-family: var(--zabal);
  font-size: 45px;
  font-weight: 500;
  line-height: 36px;

  cursor: pointer;
}

p.hover:hover {
  color: #6276fb;
}

a.text-link {
  position: relative;
  color: #21224b;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

a.text-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #6276fb;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

a.text-link:hover {
  color: #6276fb;
}

a.text-link:hover::after {
  transform: scaleX(1);
}

/* 2. SVG иконки в ссылках */
a svg {
  fill: var(--color-blue);
  transition: fill 0.3s ease;
}

a:hover svg {
  fill: #6276fb;
}

a button svg {
  fill: currentColor;
  transition: fill 0.3s ease;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scroll {
  overflow: hidden !important;
  height: 100vh;
}

@media (max-width: 767px) {
  h1 {
    font-size: 72px;
    line-height: 63px;
  }

  h2 {
    font-size: 32px;
    line-height: 38px;
  }

  h3 {
    font-size: 21px;
    line-height: 27px;
  }

  h4 {
    font-size: 12px;
  }

  p.large {
    font-size: 24px;
    line-height: 36px;
  }

  p.small {
    font-size: 16px;
    line-height: 26px;
  }
}
